:root{
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */
    --cor-primaria: #121212;
    --cor-secundaria: #b3b3b3;
    --cor-terciaria: #242424;
    --texto: #fff;
    --login-btn: #a7a7a7;
    --background: #000;
    --background-icon: #131313;
    --background-arrow: rgba(0,0,07)
}